server:
  port: 8080

spring:
  application:
    name: patient-core-service
  datasource:
    url: jdbc:h2:file:./data/patients;AUTO_SERVER=TRUE
    driver-class-name: org.h2.Driver
    username: sa
    password: 
  h2:
    console:
      enabled: true
      path: /h2-console
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        format_sql: true

logging:
  level:
    com.novacare: DEBUG
    org.springframework.web: INFO


